body {
  background-color: lightblue;

}

h1 {
  text-align: center;
  font-size: 30px;
}

p {
  font-family: verdana;
  font-size: 20px;
 }

img {height: 19%;
	width: 18%;
	border: 4;
	float: right;
    }

td {
	color: black;
	font-size: 20px;
	text-align: center;
}
div {
	background-color: white;
	margin: 1px 10px 10px 10px;
	padding: 5px 50px 50px 50px;
	border: 10px;
	margin-color: black;
}
hr {
	color: black fill;
	width: 500px;
	height: 2px;
}
