body {
  background-color: #ffffb3;

}

h1 {
  text-align: center;
  font-size: 30px;
}

p {
  font-family: verdana;
  font-size: 20px;
 }

img {height: 100%;
	width: 100%;
	border: 2;
	float: right;
    }

td {
	color: black;
	font-size: 20px;
	text-align: center;
}

hr {
	color: black fill;
	width: 500px;
	height: 2px;
}
